/* ===== HEADER  ===== */
/* Estilo visual general para cualquier <header> */
.header-old {
    width: 100%;
    padding: 0;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 999;
}

header::selection {
    background-color: #1d843c;
    color: #fff;
}

.header-titulo h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1e1e1e;
}

header img {
    max-width: 60px;
    height: auto;
}

/* ===== NAVBAR  ===== */

.navbar {
    background-color: rgba(255, 255, 255, 0.85);
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    color:black ;
}

.navbar-brand {
    font-weight: 700;
    font-size: 2rem;
    color: #1e1e1e !important;
    letter-spacing: 1px;
    margin-left: 40px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav .nav-link {
    position: relative;
    color: black !important;
    margin-left: 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 100%;
    background-color: #1d843c;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
}

.navbar-nav .nav-link:hover {
    color: #1d843c !important;
}

