/* ===== SECCIÓN HERO ===== */
.hero-texto {
    flex: 1 1 500px;
    padding: 60px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.hero-texto img.logo-hero {
    max-width: 180px;
    margin-bottom: 20px;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.15));
}

.hero-texto h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
    max-width: 500px;
}

.hero-texto p {
    font-size: 1.3rem;
    color: #1d843c;
    margin-bottom: 30px;
    font-weight: 600;
}

.boton-hero {
    background-color: #1d843c;
    color: #fff;
    padding: 14px 30px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    width: fit-content;
    transition: background-color 0.3s ease;
}

.boton-hero:hover {
    background-color: #145c2a;
}
