/* === LAYOUT GENERAL CON CSS GRID === */
.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Posicionamiento del header en el grid principal */
.header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 1000;
}

main {
    grid-area: main;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: calc(100vh - 160px); 
}


.footer {
    grid-area: footer;
}