/* ===== SECION PREGUNTAS FRECUENTES ===== */
/*ACORDEON FAQ*/
.accordion-item {
    background-color: #f8f8f84d;
    border: 1px solid #cfd8dc;
    border-radius: 12px;
    margin-bottom: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.accordion-button {
    background-color: #e8f5e9;
    color: #145c2a;
    font-weight: 600;
    padding: 16px 20px;
    font-size: 18px;
    border: none;
    box-shadow: none;
    transition: background-color 0.3s ease;
}

.accordion-button:hover {
    background-color: #d0e8d2;
}

.accordion-button::after {
    font-size: 22px;
    color: #145c2a;
    margin-left: auto;
    transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed) {
    background-color: #cde5cd;
    color: #0b3d0b;
}

.accordion-body {
    background-color: transparent;
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    border-top: 1px solid #cfd8dc;
}