/* ===== SECCIÓN SERVICIOS ===== */
.servicios-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px 20px;
    background-color: #f8f8f83d;
    max-width: 1200px;
    margin: 20px auto;
    grid-column: 1 / -1;
    justify-self: center;
    border-radius: 12px
}

.servicio {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.servicio img {
    width: 100%;
    height: 290px;
    object-fit: cover;
}

.texto-servicio {
    padding: 20px;
    flex-grow: 1;
}

.texto-servicio h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #2f4f4f;
}

.texto-servicio p {
    font-size: 16px;
    color: #333;
}

