// ==== RESET Y CONFIGURACIÓN BASE ====
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ==== BODY ====
body {
    font-family: 'Poppins', sans-serif;
    color: $color-terciario;
    background-image: url('../img/fondo23.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    .grid-container {
        display: grid;
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
    }
}

// ==== SELECCIÓN DE TEXTO ====
header::selection,
main::selection,
footer::selection {
    background-color: $color-principal;
    color: #fff;
}